/* Footer.css */
.footer-container {
  background: linear-gradient(135deg, #6D4C41, #8D6E63);
  color: white;

    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 100vw;
  }
  
  .footer-content {
    margin: 2%;
    display: flex; /* Aligns items in a horizontal row */
    justify-content: space-between; /* Evenly spaces items */
    flex-wrap: wrap; /* Ensures responsiveness */
    width: 100%; /* Makes sure it spans horizontally */
  }
  
  .footer-brand h2 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .footer-links, .footer-programs, .footer-resources {
    line-height: 2;
  }
  
  .footer-newsletter p {
    margin-bottom: 15px;
  }
  
  .footer-newsletter-input {
    display: flex;
    gap: 10px;
  }
  
  .footer-newsletter-input input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
  }
  
  .footer-newsletter-input button {
    background-color: #16a085;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .footer-social-icons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
  }
  
  .footer-social-icons svg {
    font-size: 20px;
    cursor: pointer;
  }
  